0x12-singly_linked_lists/a
0x12-singly_linked_lists/b
0x12-singly_linked_lists/c
0x12-singly_linked_lists/d
0x12-singly_linked_lists/e
0x12-singly_linked_lists/first
0x12-singly_linked_lists/hello
0x12-singly_linked_lists/101-hello_holberton.o
